.css_id_actvo_label { }
.css_id_actvo_line {text-align:left;}
.css_id_actvo_obj {text-align:left;}
.css_nmbre_label { }
.css_nmbre_line { }
.css_nmbre_obj { }
.css_cdgo_label { }
.css_cdgo_line { }
.css_cdgo_obj { }
.css_rfrncia_label { }
.css_rfrncia_line { }
.css_rfrncia_obj { }
.css_srial_label { }
.css_srial_line { }
.css_srial_obj { }
.css_nmro_actvo_label { }
.css_nmro_actvo_line { }
.css_nmro_actvo_obj { }
.css_alias_label { }
.css_alias_line { }
.css_alias_obj { }
.css_cdgo_qr_label { }
.css_cdgo_qr_line { }
.css_cdgo_qr_obj { }
.css_cdgo_brras_label { }
.css_cdgo_brras_line { }
.css_cdgo_brras_obj { }
.css_cdgo_rfid_label { }
.css_cdgo_rfid_line { }
.css_cdgo_rfid_obj { }
.css_cmpsto_label { }
.css_cmpsto_line { }
.css_cmpsto_obj { }
.css_id_estdo_label { }
.css_id_estdo_line {text-align:left;}
.css_id_estdo_obj {text-align:left;}
.css_id_clse_label { }
.css_id_clse_line {text-align:left;}
.css_id_clse_obj {text-align:left;}
.css_id_tpo_label { }
.css_id_tpo_line {text-align:left;}
.css_id_tpo_obj {text-align:left;}
.css_id_mrca_label { }
.css_id_mrca_line {text-align:left;}
.css_id_mrca_obj {text-align:left;}
.css_mdlo_label { }
.css_mdlo_line { }
.css_mdlo_obj { }
.css_id_fbrcnte_label { }
.css_id_fbrcnte_line {text-align:left;}
.css_id_fbrcnte_obj {text-align:left;}
.css_cnfbldad_label { }
.css_cnfbldad_line {text-align:left;}
.css_cnfbldad_obj {text-align:left;}
.css_id_nit_prvdor_label { }
.css_id_nit_prvdor_line {text-align:left;}
.css_id_nit_prvdor_obj {text-align:left;}
.css_fcha_cmpra_label { }
.css_fcha_cmpra_line { }
.css_fcha_cmpra_obj { }
.css_fcha_arrnque_label { }
.css_fcha_arrnque_line { }
.css_fcha_arrnque_obj { }
.css_fcha_fin_grntia_label { }
.css_fcha_fin_grntia_line { }
.css_fcha_fin_grntia_obj { }
.css_vlor_cmpra1_label { }
.css_vlor_cmpra1_line {text-align:left;}
.css_vlor_cmpra1_obj {text-align:left;}
.css_id_mnda_cmpra1_label { }
.css_id_mnda_cmpra1_line { }
.css_id_mnda_cmpra1_obj { }
.css_vlor_cmpra2_label { }
.css_vlor_cmpra2_line {text-align:left;}
.css_vlor_cmpra2_obj {text-align:left;}
.css_id_mnda_cmpra2_label { }
.css_id_mnda_cmpra2_line { }
.css_id_mnda_cmpra2_obj { }
.css_id_area_label { }
.css_id_area_line {text-align:left;}
.css_id_area_obj {text-align:left;}
.css_id_cntro_csto_label { }
.css_id_cntro_csto_line {text-align:left;}
.css_id_cntro_csto_obj {text-align:left;}
.css_id_ubccion_label { }
.css_id_ubccion_line {text-align:left;}
.css_id_ubccion_obj {text-align:left;}
.css_id_nit_rspnsble_label { }
.css_id_nit_rspnsble_line {text-align:left;}
.css_id_nit_rspnsble_obj {text-align:left;}
.css_id_cntdor_label { }
.css_id_cntdor_line {text-align:left;}
.css_id_cntdor_obj {text-align:left;}
.css_vlor_actual_label { }
.css_vlor_actual_line {text-align:left;}
.css_vlor_actual_obj {text-align:left;}
.css_fcha_lctra_label { }
.css_fcha_lctra_line { }
.css_fcha_lctra_obj { }
.css_vlor_estndar_label { }
.css_vlor_estndar_line {text-align:left;}
.css_vlor_estndar_obj {text-align:left;}
.css_id_tpo_mdcion_label { }
.css_id_tpo_mdcion_line {text-align:left;}
.css_id_tpo_mdcion_obj {text-align:left;}
.css_fto1_label { }
.css_fto1_line { }
.css_fto1_obj { }
.css_fto2_label { }
.css_fto2_line { }
.css_fto2_obj { }
.css_fto3_label { }
.css_fto3_line { }
.css_fto3_obj { }
.css_fto4_label { }
.css_fto4_line { }
.css_fto4_obj { }
.css_fto5_label { }
.css_fto5_line { }
.css_fto5_obj { }
.css_fto6_label { }
.css_fto6_line { }
.css_fto6_obj { }
.css_prmtro_oprcion_label { }
.css_prmtro_oprcion_line { }
.css_prmtro_oprcion_obj { }
.css_nmbre_archvo_po_label { }
.css_nmbre_archvo_po_line { }
.css_nmbre_archvo_po_obj { }
.css_tmno_po_label { }
.css_tmno_po_line { }
.css_tmno_po_obj { }
.css_fcha_rgstro_label { }
.css_fcha_rgstro_line { }
.css_fcha_rgstro_obj { }
.css_id_usrio_label { }
.css_id_usrio_line { }
.css_id_usrio_obj { }
.css_fcha_actlzcion_label { }
.css_fcha_actlzcion_line { }
.css_fcha_actlzcion_obj { }
.css_id_usrio_actlzcion_label { }
.css_id_usrio_actlzcion_line { }
.css_id_usrio_actlzcion_obj { }
