.css_id_actvo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_actvo_grid_line {vertical-align: top;text-align: right;}
.css_nmbre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nmbre_grid_line {vertical-align: top;text-align: left;}
.css_cdgo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cdgo_grid_line {vertical-align: top;text-align: left;}
.css_rfrncia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rfrncia_grid_line {vertical-align: top;text-align: left;}
.css_srial_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_srial_grid_line {vertical-align: top;text-align: left;}
.css_nmro_actvo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nmro_actvo_grid_line {vertical-align: top;text-align: left;}
